<article class="poster">
  <a href="#" class="poster__img">
    <img [src]="'/assets/images' + poster.image" [alt]="poster.title" />
  </a>
  <div class="poster__interactive-area flex-col-start">
    <div class="poster__title-area">
      <a href="#" class="poster__title truncate text-title-small">
        {{ poster.title }}
      </a>
      <div class="poster__info-meta truncate-double text-body-marginal-bold">
        <time [attr.datetime]="poster.release_year"
          >{{ poster.release_year }},
        </time>
        <span class="poster__director">Directed by {{ poster.director }}</span>
      </div>
      <span class="poster__duration text-body-small">{{
        convertMinutesToHours(poster.duration)
      }}</span>
    </div>
    <div class="poster__rating rating-poster flex-row-center text-body-small">
      <i class="rating-poster__star fa-solid fa-star"></i>
      <span class="rating-poster__value">{{ poster.rating }}</span>
    </div>
    <div class="poster__genres">
      @for (genre of poster.genres; track poster.id) {
      <span class="poster__genre text-body-small-bold">#{{ genre }}</span>
      }
    </div>
    <p class="poster__description truncate-triple text-body-small">
      {{ poster.description }}
    </p>
    <div class="poster__actions">
      <button
        class="poster__button flex-all-center text-body-medium-bold"
        (click)="onAddToWatchList(poster.id)"
      >
        <i class="fa-solid fa-plus"></i>
        <span>Watchlist</span>
      </button>
      <button
        class="poster__button flex-all-center text-body-medium-bold"
        (click)="onAddToFavoritesList(poster.id)"
      >
        <i class="fa-regular fa-bookmark"></i>
        <span>Favorite</span>
      </button>
    </div>
  </div>
</article>
