<nav class="left-sidebar h-full p-2" aria-label="Main navigation">
  <ul class="flex flex-column gap-2 text-base">
    <li>
      <a [routerLink]="['/popular']" class="w-full p-button text-left">Popular</a>
    </li>
    <li>
      <a [routerLink]="['/now-playing']" class="w-full p-button text-left">Now Playing</a>
    </li>
    <li>
      <a [routerLink]="['/top-rate']" class="w-full p-button text-left">Top Rate</a>
    </li>
    <li>
      <a [routerLink]="['/upcoming']" class="w-full p-button text-left">Upcoming</a>
    </li>
  </ul>
</nav>
