.truncate,
.truncate-double,
.truncate-triple {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.truncate-double {
	-webkit-line-clamp: 2;
}

.truncate-triple {
	-webkit-line-clamp: 3;
}
